nav button {
    font-size: 3rem;
    padding: 1rem;
    background-color: green;
    border: solid 5px black;
}

nav button:hover {
    cursor: pointer; 
}

nav {
    display: flex;
    justify-content: center; 
    gap: 2rem;
}